<h2>Olvidaste tu contraseña</h2>
<p>Ingresa tu correo:</p>
<form method="post" action="/api/session/forgot-password">
    <input type="email" placeholder="Correo" name="email"/>
    <br/><br/>
    <button type="submit">Restablecer contraseña</button>
</form>
<hr>
