<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email" type="email">
        <br>
        <label>Contraseña</label>
        <input name="password" type="password">
        <button type="submit">Iniciar sesión</button>
    </form>
    <hr>
    <a href="/register">Regístrate aquí</a>
</div>

<script src="/js/login.js"></script>