<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email" type="email">
        <label>Edad</label>
        <input name="age">
        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">

    </form>
    <hr>
    <p>Si ya tienes cuenta, ingresa desde <a href="/login">aquí</a></p>
</div>

<script src="/js/register.js"></script>