<div>
    <h1>Registro</h1>
    <form id="registerForm" method="post" action='/api/session/register' enctype="multipart/form-data">
        <label>Nombre</label>
        <input name="first_name">
        <br>
        <label>Apellido</label>
        <input name="last_name">
        <br>
        <label>Email</label>
        <input name="email" type="email">
        <br>
        <label>Edad</label>
        <input name="age">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <br>
        <p>Foto de perfil:</p>
        <input type="file" name="avatar">
        <br>
        <input type="submit">
        <br>
    </form>
    <hr>
    <p>Si ya tienes cuenta, ingresa desde <a href="/login">aquí</a></p>
    <hr>
</div>

<script src="/js/register.js"></script>