<div>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <br>
        <label>Nueva contraseña</label>
        <input name="password">
        <br>
        <input type="submit">
    </form>
    <hr>
    <a href="/login">Iniciar sesión</a>
    <hr>
</div>
<script src="/js/restartPassword.js"></script>